
#root {
  margin: 0;
  text-align: center;
}


.navBar {
  color: white;
  height: 3rem;
  display: flex;
  background-color: red;
}
.navigation {
  width: 30rem;
  display: flex;
  justify-content: space-around;
}
.navLink {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  background-color: red;
}
.navBrandContainer {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.navBrand {
  color: black;
  font-size: 28px;
}


.homePage {
  height: 100vh;
  background-position: center;
  background-size: cover;
  color: black;
}
.homePageText {
  padding-top: 15rem;
}
.homePage h1 {
  padding-bottom: 1rem;
}


.contactPage {
  padding-top: 5rem;
  color: black;
}
input {
  width: 30rem;
}

button {
  color: red ;


}
.contactPage p {
  font-size: 20px;
  margin-top: 2rem;
}
.formDescription {
  height: 5rem;
}


.notFound {
  padding: 5rem;
}
.notFoundImg {
  width: 20%;
}
